.container{
    padding-top: 100px;
    font-size: 28px;
    text-align: center;
    a{
        font-size: 26px;
    }
}

.ant-form.login-form{
    width:300px;
    margin:100px auto 0;
    button{
        width:100%;
    }
}